#videoList {
    list-style-type: none;
    padding: 0;
  }
  
  #videoList li {
    margin: 10px 0;
  }
  
  #videoList a {
    text-decoration: none;
    color: blue;
  }
  
  #videoList a:hover {
    text-decoration: underline;
  }
  